header {
    background-color: #000000;  
    color: white;
}
header a{
    color: white; 
}

header a:hover{
    color: white; 
}

.custom-toggler.navbar-toggler {
    border-color: white;
    color: white;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

.jumbotron{
    background-color:#fdb515;
    text-align:center;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
}

footer {
    padding-top: 1.2em;
    background-color: #000000;
    color: white;

}
footer ul {
    padding-left: 0;
}
footer li {
    list-style: none;
}
footer a {
    color: #a67a05;
    text-decoration: underline;
}
footer a:hover {
    color: #B3B3FF;
    text-decoration: none;
}